<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssf.mapper.TestMapper">
    <select id="queryAll" resultType="com.cssf.pojo.TestBean">
        select * from iotdb.test
    </select>
    <insert id="insertData" parameterType="com.cssf.pojo.TestBean">
        insert into iotdb.test(data,time) values (#{data},#{time})
    </insert>
</mapper>